<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title><%= title %></title>
</head>
<body>

    <div class="container">
        <h1 class="title">To do list</h1>

        <div class="ajouter">
            <a href="/ajouter"><button class="btn">Ajouter une tâche</button></a>
        </div>

        <div class="liste">
            <h3 class="taskTitle">Liste des tâches</h3>
            <%
                for(let i=0; i < tasks.length; i++) { %>
                   
                    <a href="/tasks/<%= tasks[i]._id%>">
                        <div class="task">
                            <p class="p-title">Crée le <%= tasks[i].createdAt %> | <b><%= tasks[i].titre %></b></p>
                            <p class="p-description"><%= tasks[i].description %></p>
                        </div>
                    </a>
                   
                <% }
             %>
            <!-- <p>Vous n'avez aucune tâches</p> -->
        </div>

    </div>


</body>
</html>